/*-------------------*/
/* Basic setup*/
/*-------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff ;
    color: #323747;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------*/
/* Reusble Components*/
/*-------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*--- Headings ---*/

h1,
h2,
h3 {
    font-weight: 300;
    letter-spacing: 1px;
}


h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 450%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #5373f7;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

/*--- Paragraphs ---*/
.long-copy {
    line-height: 145%;
    text-align: justify;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 80%;
    line-height: 145%;
    text-align: justify
}

/*--- Icons ---*/

ion-icon {
    
    font-size: 300%;
    display: block;
    color: #5373f7;
    margin: auto;
    margin-top: 15px;
    
  }

/*--- Buttons ---*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, color 0.5s, border 0.5s ;

}


.btn-full:link,
.btn-full:visited{
    background-color: #5363a5;
    border: 1px solid #5363a5;
    color: #fff;
    margin-right: 15px;
    
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #6b6d72;
    color: #fff;
}

.btn:hover,
.btn:active {
    background-color: #14236c;
    border: 1px solid #14236c;
}

.btn-full:hover,
.btn-full:active{
    background-color: #14236c;
    border: 1px solid #14236c;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #14236c;
    border: 1px solid #14236c;
    color: #fff;
}


/*-------------------*/
/* HEADER*/
/*-------------------*/

header {
    background-image: linear-gradient(rgba(16, 16, 16, .3), rgba(16, 16, 16, .7)), url('img/street.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.buildings-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    transition: color 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color:#14236c;
}


/*-------------------*/
/*Abouth*/
/*-------------------*/

.section-abouth .long-copy{

    margin-bottom: 30px;

}

/*-------------------*/
/* views*/
/*-------------------*/

.section-views {
    padding: 0;
}

.views-showcase {
    list-style: none;
    width: 100%;
}

.views-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.views-foto {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.views-foto img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.views-foto img:hover{
    opacity: 1;
    transform: scale(1.03);
}


/*-------------------*/
/* How works*/
/*-------------------*/

.section-features {
    background-color: #fff ;
}

.step-box-left:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box-left:last-child {
    padding-left: 3%;
    margin-top: 125px;
}

.step-box-rigth:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 125px;
    
}

.step-box-rigth:last-child {
    
    padding-left: 3%;
    margin-top: 30px;
    
    
}

.app-screen {
    width: 60%;
}

.works-step {
    margin-bottom: 50px;
}

.step-box-left .works-step div {
    color: #5363a5;
    border: 2px solid #5363a5;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.step-box-rigth .works-step div {
    color: #5363a5;
    border: 2px solid #5363a5;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: right;
    font-size: 150%;
    margin-right: 25px;
}
